@tailwind base;
@tailwind components;
@tailwind utilities;

.sidebar {
  overflow-y: hidden; /* Default state - hides scrollbar */
}
.modal {
  display: none;
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}
/* .hero {
  gap: 10px;
} */
/* .graph {
  height: 40px;
} */
