@tailwind base;
@tailwind components;
@tailwind utilities;

.body {
  .poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
}
#crud-modal {
  display: none;
}

/* .modal {
  display: none;
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
} */

/* .hero {
  gap: 10px;
} */
/* .graph {
  height: 40px;
} */
